.navbar-btn {
    padding: 0 15px;
    height: 100%;
    display: inline-flex;
    align-items: center;
    background-color: #40514E;
    color: white;
    font-size: 1.1rem;
    font-weight: 400;
}

.navbar-btn:hover{
    cursor: pointer;
    color: #40514E;
    background-color: white;
}